<h1>Welcome</h1>

<video id='MyPlayer1' data-uuid='v-4c1e96b3-7828-4b19-8db7-f4cc2d9caf5a'></video>

<%= content_for :javascript do %>
  <script src='//cameratag.com/api/v5/js/cameratag.js' type='text/javascript'></script>
<% end %>
